In [1]:
# bài 1 
import pandas as pd

# Tạo Series từ danh sách 1 → 5
numbers = [1, 2, 3, 4, 5]
series = pd.Series(numbers)
print("Series:")
print(series)

print("\n")

# Dữ liệu sinh viên
name = ['An', 'Bình', 'Châu', 'Dũng']
score = [8.5, 7.0, 6.5, 9.0]

# Tạo DataFrame
df = pd.DataFrame({
    "name": name,
    "score": score
})

# Thông tin DataFrame
print("DataFrame info:")
df.info()
print("\n")

# Thống kê mô tả
print("DataFrame describe:")
print(df.describe())

Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64


DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   score   4 non-null      float64
dtypes: float64(1), object(1)
memory usage: 196.0+ bytes


DataFrame describe:
          score
count  4.000000
mean   7.750000
std    1.190238
min    6.500000
25%    6.875000
50%    7.750000
75%    8.625000
max    9.000000

In [2]:
# Bài 2 
import pandas as pd

# Dữ liệu
name = ['An', 'Bình', 'Châu', 'Dũng']
age = [20, 21, 22, 20]
score = [8.5, 7.0, 6.5, 9.0]

# Tạo DataFrame
df = pd.DataFrame({
    "name": name,
    "age": age,
    "score": score
})

# 1. loc[]: chọn các dòng có score ≥ 8
filtered_loc = df.loc[df['score'] >= 8]
print("DataFrame filtered by loc[]:")
print(filtered_loc)
print("\n")

# 2. iloc[]: lấy cột age
filtered_iloc = df.iloc[:, [1]]  # cột thứ 2 (index 1)
print("DataFrame filtered by iloc[]:")
print(filtered_iloc)
print("\n")

# 3. query(): score > 7 và age < 23
filtered_query = df.query("score > 7 and age < 23")
print("DataFrame filtered by query():")
print(filtered_query)

DataFrame filtered by loc[]:
   name  age  score
0    An   20    8.5
3  Dũng   20    9.0


DataFrame filtered by iloc[]:
   age
0   20
1   21
2   22
3   20


DataFrame filtered by query():
   name  age  score
0    An   20    8.5
3  Dũng   20    9.0

In [3]:
# Bài 3
import pandas as pd

# Dữ liệu có chứa giá trị thiếu
name = ['An', 'Bình', 'Châu', 'Dũng']
age = [20, None, 22, 20]
score = [8.5, None, 6.5, 9.0]

# Tạo DataFrame
df = pd.DataFrame({
    "name": name,
    "age": age,
    "score": score
})

# 1. Kiểm tra giá trị thiếu bằng isna()
print("Dữ liệu thiếu kiểm tra bằng isna():")
print(df.isna())
print("\n")

# 2. Thay thế NaN trong age và score (nếu cần) bằng giá trị trung bình
df_filled = df.copy()
df_filled["age"] = df_filled["age"].fillna(df_filled["age"].mean())
df_filled["score"] = df_filled["score"].fillna(df_filled["score"].mean())

print("DataFrame sau khi thay thế NaN bằng fillna():")
print(df_filled)
print("\n")

# 3. Loại bỏ các dòng có NaN bằng dropna()
df_dropped = df_filled.dropna()

print("DataFrame sau khi loại bỏ NaN bằng dropna():")
print(df_dropped)

Dữ liệu thiếu kiểm tra bằng isna():
    name    age  score
0  False  False  False
1  False   True   True
2  False  False  False
3  False  False  False


DataFrame sau khi thay thế NaN bằng fillna():
   name        age  score
0    An  20.000000    8.5
1  Bình  20.666667    8.0
2  Châu  22.000000    6.5
3  Dũng  20.000000    9.0


DataFrame sau khi loại bỏ NaN bằng dropna():
   name        age  score
0    An  20.000000    8.5
1  Bình  20.666667    8.0
2  Châu  22.000000    6.5
3  Dũng  20.000000    9.0

In [4]:
# Bài 4 
import pandas as pd

# Dữ liệu ban đầu
name = ['An', 'Bình', 'Châu', 'Dũng']
age = [20, 21, 22, 20]
score = [8.5, 7.0, 6.5, 9.0]

df = pd.DataFrame({
    "name": name,
    "age": age,
    "score": score
})

# 1. apply(): tạo cột age_group
df_apply = df.copy()
df_apply["age_group"] = df_apply["age"].apply(lambda x: "Young" if x <= 20 else "Adult")

print("DataFrame sau khi áp dụng apply():")
print(df_apply)
print("\n")


# 2. map(): tạo cột score_level
df_map = df.copy()
mapping = {
    8.5: "Excellent",
    7.0: "Good",
    6.5: "Average",
    9.0: "Excellent"
}
df_map["score_level"] = df_map["score"].map(mapping)

print("DataFrame sau khi map():")
print(df_map)
print("\n")


# 3. astype(): chuyển score → int
df_astype = df.copy()
df_astype["score"] = df_astype["score"].astype(int)

print("DataFrame sau khi astype():")
print(df_astype)
print("\n")


# 4. replace(): đổi Bình → Bình (Updated)
df_replace = df.copy()
df_replace["name"] = df_replace["name"].replace("Bình", "Bình (Updated)")

print("DataFrame sau khi replace():")
print(df_replace)

DataFrame sau khi áp dụng apply():
   name  age  score age_group
0    An   20    8.5     Young
1  Bình   21    7.0     Adult
2  Châu   22    6.5     Adult
3  Dũng   20    9.0     Young


DataFrame sau khi map():
   name  age  score score_level
0    An   20    8.5   Excellent
1  Bình   21    7.0        Good
2  Châu   22    6.5     Average
3  Dũng   20    9.0   Excellent


DataFrame sau khi astype():
   name  age  score
0    An   20      8
1  Bình   21      7
2  Châu   22      6
3  Dũng   20      9


DataFrame sau khi replace():
             name  age  score
0              An   20    8.5
1  Bình (Updated)   21    7.0
2            Châu   22    6.5
3            Dũng   20    9.0

In [5]:
# Bài 5 
import pandas as pd

# Dữ liệu ban đầu
name = ['An', 'Bình', 'Châu', 'Dũng']
age = [20, 21, 22, 20]
score = [8.5, 7.0, 6.5, 9.0]

# Tạo DataFrame
df = pd.DataFrame({
    "name": name,
    "age": age,
    "score": score
})

# Groupby theo age và tính mean, min, max
grouped = df.groupby("age").agg(
    mean_score=("score", "mean"),
    min_score=("score", "min"),
    max_score=("score", "max")
).reset_index()

print("Groupby age:")
print(grouped)

Groupby age:
   age  mean_score  min_score  max_score
0   20        8.75        8.5        9.0
1   21        7.00        7.0        7.0
2   22        6.50        6.5        6.5

In [6]:
# Bài 6
import pandas as pd

# Tạo DataFrame ban đầu
df1 = pd.DataFrame({'id': [1, 2, 3], 'name': ['An', 'Bình', 'Châu']})
df2 = pd.DataFrame({'id': [1, 2, 3], 'score': [8.5, 7.0, 6.5]})

# 1. merge() theo cột id
merged_df = pd.merge(df1, df2, on="id")
print("Merged DataFrame:")
print(merged_df)
print("\n")

# 2. concat() để nối thêm bảng age
df_age = pd.DataFrame({'age': [20, 21, 22]})
concatenated_df = pd.concat([merged_df, df_age], axis=1)

print("Concatenated DataFrame:")
print(concatenated_df)

Merged DataFrame:
   id  name  score
0   1    An    8.5
1   2  Bình    7.0
2   3  Châu    6.5


Concatenated DataFrame:
   id  name  score  age
0   1    An    8.5   20
1   2  Bình    7.0   21
2   3  Châu    6.5   22

In [7]:
# Bài 7
import pandas as pd

# Dữ liệu đầu vào
date = ['2023-01-01', '2023-02-01', '2023-03-01']
name = ['An', 'Bình', 'Châu']

# Tạo DataFrame
df = pd.DataFrame({
    "date": date,
    "name": name
})

# 1. Chuyển date sang kiểu datetime
df["date"] = pd.to_datetime(df["date"])
print("Date converted to datetime:")
print(df)
print("\n")

# 2. Trích xuất năm/tháng/ngày bằng dt
year_extracted = df["date"].dt.year
print("Extracted Year:")
print(year_extracted)
print("\n")

# 3. Chuyển name sang kiểu category
df["name"] = df["name"].astype("category")
print("Category Type for name:")
print(df["name"])
print(df["name"].dtype)

Date converted to datetime:
        date  name
0 2023-01-01    An
1 2023-02-01  Bình
2 2023-03-01  Châu


Extracted Year:
0    2023
1    2023
2    2023
Name: date, dtype: int32


Category Type for name:
0      An
1    Bình
2    Châu
Name: name, dtype: category
Categories (3, object): ['An', 'Bình', 'Châu']
category

In [ ]:
import os
import json
import pandas as pd

log_folder = "logs/"
data = []

for filename in os.listdir(log_folder):
    if filename.lower().endswith(".json"):
        filepath = os.path.join(log_folder, filename)

        with open(filepath, "r", encoding="utf-8") as f:
            try:
                logs = json.load(f)
            except json.JSONDecodeError:
                print("File JSON lỗi:", filename)
                continue

            # logs là list các object
            for record in logs:
                # lấy date từ record
                try:
                    date = pd.to_datetime(record.get("date"))
                except Exception as e:
                    print("Không parse được date:", record.get("date"), e)
                    continue

                data.append({
                    "date": date,
                    "user": record.get("fullName", record.get("user")),
                    "action": record.get("action", None),
                    "duration": record.get("duration", 1)  # nếu không có duration thì mặc định 1
                })

# tạo DataFrame
df = pd.DataFrame(data)

if df.empty:
    print("Không có dữ liệu hợp lệ trong thư mục logs/")
else:
    print("DataFrame đọc được:")
    print(df)

    # Groupby theo ngày, tính tổng duration
    report = df.groupby("date", as_index=False)["duration"].sum()

    # xuất CSV
    report.to_csv("log_report.csv", index=False)

    # hiển thị kết quả
    for _, row in report.iterrows():
        print(f"Date: {row['date'].date()}, Total Duration: {row['duration']}")

AttributeError: 'list' object has no attribute 'get'